Goal of this notebook is to generate visualizations that will help portray our statistical findings while also being easy to read and ascetic.

Step 1. Dig through the data and find statistically significant and interesting correlations - the messier of the EDA steps.

In [1]:
#Importing EDA type modules
import numpy as pd
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
#importing clean_df
df = pd.read_csv('Peruvian_Bank_Data/clean_df.csv', header = 0)
df.head()

,age,job,marital,education,in_default,avg_yearly_balance,housing_loan,personal_loan,contact_method,day,month,duration,campaign_contacts,prev_days,previous_contacts,prev_outcome,term_deposit
0,58,management,married,tertiary,no,2143,yes,no,unknown,5,5,261,1,-1,0,unknown,no
1,44,technician,single,secondary,no,29,yes,no,unknown,5,5,151,1,-1,0,unknown,no
2,33,entrepreneur,married,secondary,no,2,yes,yes,unknown,5,5,76,1,-1,0,unknown,no
3,47,blue-collar,married,unknown,no,1506,yes,no,unknown,5,5,92,1,-1,0,unknown,no
4,33,unknown,single,unknown,no,1,no,no,unknown,5,5,198,1,-1,0,unknown,no

In [3]:
#let's start with age
print('Avg age of no : {} \nAvg age of yes: {}'.format(df.age.loc[df.term_deposit == 'no'].mean(), df.age.loc[df.term_deposit == 'yes'].mean()))

Avg age of no : 40.85346751058695
Avg age of yes: 41.743717728055074

In [42]:
#order of jobs for both
#yes split
df.loc[df.term_deposit == 'yes'].set_index('job').groupby('job').count()['term_deposit'].sort_values(ascending = False)

job
management       1432
technician        923
blue-collar       777
admin.            689
retired           570
services          407
student           288
unemployed        215
self-employed     207
entrepreneur      138
housemaid         123
unknown            41
Name: term_deposit, dtype: int64

In [43]:
df.loc[df.term_deposit == 'no'].set_index('job').groupby('job').count()['term_deposit'].sort_values(ascending = False)

job
blue-collar      9901
management       8995
technician       7442
admin.           4960
services         4164
retired          1924
self-employed    1555
entrepreneur     1517
housemaid        1229
unemployed       1216
student           734
unknown           285
Name: term_deposit, dtype: int64

In [93]:
#This gives me an idea of creating a dictionary of some percentages represented as float
jobs_total = {}
for idx, val in df.job.value_counts().items():
    jobs_total[idx] = val
jobs_yes = {}
for idx, val in df.job.loc[df.term_deposit == 'yes'].value_counts().items():
    jobs_yes[idx] = val
jobs_no = {}
for idx, val in df.job.loc[df.term_deposit == 'no'].value_counts().items():
    jobs_no[idx] = val

jobs_no_perc = {}
jobs_yes_perc = {}
for key in jobs_total:
    jobs_no_perc[key] = round(jobs_no[key]/jobs_total[key], 2)
    jobs_yes_perc[key] = round(jobs_yes[key]/jobs_total[key], 2)

print(jobs_no_perc)

print(jobs_yes_perc)

{'blue-collar': 0.93, 'management': 0.86, 'technician': 0.89, 'admin.': 0.88, 'services': 0.91, 'retired': 0.77, 'self-employed': 0.88, 'entrepreneur': 0.92, 'unemployed': 0.85, 'housemaid': 0.91, 'student': 0.72, 'unknown': 0.87}
{'blue-collar': 0.07, 'management': 0.14, 'technician': 0.11, 'admin.': 0.12, 'services': 0.09, 'retired': 0.23, 'self-employed': 0.12, 'entrepreneur': 0.08, 'unemployed': 0.15, 'housemaid': 0.09, 'student': 0.28, 'unknown': 0.13}

Too early to make any real conclusions here, although we do see that a surprisingly high amount of students signed up for term deposits.