Goal of this notebook is to generate visualizations that will help portray our statistical findings while also being easy to read and ascetic.

Step 1. Dig through the data and find statistically significant and interesting correlations - the messier of the EDA steps.

In [1]:
#Importing EDA type modules
import numpy as pd
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
#importing clean_df
df = pd.read_csv('Peruvian_Bank_Data/clean_df.csv', header = 0)
df.head()

,age,job,marital,education,in_default,avg_yearly_balance,housing_loan,personal_loan,contact_method,day,month,duration,campaign_contacts,prev_days,previous_contacts,prev_outcome,term_deposit
0,58,management,married,tertiary,no,2143,yes,no,unknown,5,5,261,1,-1,0,unknown,no
1,44,technician,single,secondary,no,29,yes,no,unknown,5,5,151,1,-1,0,unknown,no
2,33,entrepreneur,married,secondary,no,2,yes,yes,unknown,5,5,76,1,-1,0,unknown,no
3,47,blue-collar,married,unknown,no,1506,yes,no,unknown,5,5,92,1,-1,0,unknown,no
4,33,unknown,single,unknown,no,1,no,no,unknown,5,5,198,1,-1,0,unknown,no

In [3]:
#let's start with age
print('Avg age of no : {} \nAvg age of yes: {}'.format(df.age.loc[df.term_deposit == 'no'].mean(), df.age.loc[df.term_deposit == 'yes'].mean()))

Avg age of no : 40.85346751058695
Avg age of yes: 41.743717728055074

In [42]:
#order of jobs for both
#yes split
df.loc[df.term_deposit == 'yes'].set_index('job').groupby('job').count()['term_deposit'].sort_values(ascending = False)

job
management       1432
technician        923
blue-collar       777
admin.            689
retired           570
services          407
student           288
unemployed        215
self-employed     207
entrepreneur      138
housemaid         123
unknown            41
Name: term_deposit, dtype: int64

In [43]:
df.loc[df.term_deposit == 'no'].set_index('job').groupby('job').count()['term_deposit'].sort_values(ascending = False)

job
blue-collar      9901
management       8995
technician       7442
admin.           4960
services         4164
retired          1924
self-employed    1555
entrepreneur     1517
housemaid        1229
unemployed       1216
student           734
unknown           285
Name: term_deposit, dtype: int64

In [106]:
#This gives me an idea of creating a dictionary of some percentages represented as float
jobs_total = {}
for idx, val in df.job.value_counts().items():
    jobs_total[idx] = val
jobs_yes = {}
for idx, val in df.job.loc[df.term_deposit == 'yes'].value_counts().items():
    jobs_yes[idx] = val
jobs_no = {}
for idx, val in df.job.loc[df.term_deposit == 'no'].value_counts().items():
    jobs_no[idx] = val

jobs_no_perc = {}
jobs_yes_perc = {}
for key in jobs_total:
    jobs_no_perc[key] = round(jobs_no[key]/jobs_total[key], 4)
    jobs_yes_perc[key] = round(jobs_yes[key]/jobs_total[key], 4)

print(jobs_no_perc)

print(jobs_yes_perc)

{'blue-collar': 0.9272, 'management': 0.8627, 'technician': 0.8897, 'admin.': 0.878, 'services': 0.911, 'retired': 0.7715, 'self-employed': 0.8825, 'entrepreneur': 0.9166, 'unemployed': 0.8498, 'housemaid': 0.909, 'student': 0.7182, 'unknown': 0.8742}
{'blue-collar': 0.0728, 'management': 0.1373, 'technician': 0.1103, 'admin.': 0.122, 'services': 0.089, 'retired': 0.2285, 'self-employed': 0.1175, 'entrepreneur': 0.0834, 'unemployed': 0.1502, 'housemaid': 0.091, 'student': 0.2818, 'unknown': 0.1258}

Too early to make any real conclusions here, although we do see that a surprisingly high amount of students signed up for term deposits.

In [102]:
#let's take a look at marital data

print('Total marital data:\n{}\n'.format(df.marital.value_counts()))
print('Yes marital data: \n{}\n'.format(df.marital.loc[df.term_deposit =='yes'].value_counts()))
print('No marital data: \n{}\n'.format(df.marital.loc[df.term_deposit =='no'].value_counts()))

Total marital data:
married     30011
single      13986
divorced     5735
Name: marital, dtype: int64

Yes marital data:
married     3032
single      2079
divorced     699
Name: marital, dtype: int64

No marital data:
married     26979
single      11907
divorced     5036
Name: marital, dtype: int64

Just from eyeballing the data here, we see that a higher ratio of single people have subscribed to a term_deposit versus married partners. However, this may also be because only one partner decides to do the term deposit using a combination of their money. So I can't write this off as leaning any which way because I don't have individual data. We can go ahead and create ratios again however for exploration.

In [108]:
mar_total = {}
for idx, val in df.marital.value_counts().items():
    mar_total[idx] = val
mar_yes = {}
for idx, val in df.marital.loc[df.term_deposit == 'yes'].value_counts().items():
    mar_yes[idx] = val
mar_no = {}
for idx, val in df.marital.loc[df.term_deposit == 'no'].value_counts().items():
    mar_no[idx] = val

mar_no_perc = {}
mar_yes_perc = {}
for key in mar_total:
    mar_no_perc[key] = round(mar_no[key]/mar_total[key], 4)
    mar_yes_perc[key] = round(mar_yes[key]/mar_total[key], 4)

print("Marital status, No: {}\n".format(mar_no_perc))

print("Marital status, Yes: {}\n".format(mar_yes_perc))

Marital status, No: {'married': 0.899, 'single': 0.8514, 'divorced': 0.8781}

Marital status, Yes: {'married': 0.101, 'single': 0.1486, 'divorced': 0.1219}

In [114]:
#same exact thing, but education now. We've seem to found a groove.

print('Total educational data:\n{}\n'.format(df.education.value_counts()))
print('Yes educational data: \n{}\n'.format(df.education.loc[df.term_deposit =='yes'].value_counts()))
print('No educational data: \n{}\n'.format(df.education.loc[df.term_deposit =='no'].value_counts()))

edu_total = {}
for idx, val in df.education.value_counts().items():
    edu_total[idx] = val
edu_yes = {}
for idx, val in df.education.loc[df.term_deposit == 'yes'].value_counts().items():
    edu_yes[idx] = val
edu_no = {}
for idx, val in df.education.loc[df.term_deposit == 'no'].value_counts().items():
    edu_no[idx] = val

edu_no_perc = {}
edu_yes_perc = {}
for key in edu_total:
    edu_no_perc[key] = round(edu_no[key]/edu_total[key], 4)
    edu_yes_perc[key] = round(edu_yes[key]/edu_total[key], 4)

print("Educational status, No: {}\n".format(edu_no_perc))

print("Educational status, Yes: {}\n".format(edu_yes_perc))

Total educational data:
secondary    25508
tertiary     14651
primary       7529
unknown       2044
Name: education, dtype: int64

Yes educational data:
secondary    2695
tertiary     2189
primary       655
unknown       271
Name: education, dtype: int64

No educational data:
secondary    22813
tertiary     12462
primary       6874
unknown       1773
Name: education, dtype: int64

Educational status, No: {'secondary': 0.8943, 'tertiary': 0.8506, 'primary': 0.913, 'unknown': 0.8674}

Educational status, Yes: {'secondary': 0.1057, 'tertiary': 0.1494, 'primary': 0.087, 'unknown': 0.1326}

In [115]:
#I have a hunch about defaulting, but let's see what the data holds. 

print('Total default data:\n{}\n'.format(df.in_default.value_counts()))
print('Yes default data: \n{}\n'.format(df.in_default.loc[df.term_deposit =='yes'].value_counts()))
print('No default data: \n{}\n'.format(df.in_default.loc[df.term_deposit =='no'].value_counts()))

dft_total = {}
for idx, val in df.in_default.value_counts().items():
    dft_total[idx] = val
dft_yes = {}
for idx, val in df.in_default.loc[df.term_deposit == 'yes'].value_counts().items():
    dft_yes[idx] = val
dft_no = {}
for idx, val in df.in_default.loc[df.term_deposit == 'no'].value_counts().items():
    dft_no[idx] = val

dft_no_perc = {}
dft_yes_perc = {}
for key in dft_total:
    dft_no_perc[key] = round(dft_no[key]/dft_total[key], 4)
    dft_yes_perc[key] = round(dft_yes[key]/dft_total[key], 4)

print("In Default status, No: {}\n".format(dft_no_perc))

print("In Default status, Yes: {}\n".format(dft_yes_perc))

Total default data:
no     48841
yes      891
Name: in_default, dtype: int64

Yes default data:
no     5749
yes      61
Name: in_default, dtype: int64

No default data:
no     43092
yes      830
Name: in_default, dtype: int64

In Default status, No: {'no': 0.8823, 'yes': 0.9315}

In Default status, Yes: {'no': 0.1177, 'yes': 0.0685}

Pretty substantial difference. I forsee it being a strong feature for the model.

In [122]:
#avg_yearly_balance is next. This numerical data will be easier read by visuals, but let's get some basic info off it.
print('Avg_yearly_balance of no : {} \nAvg_yearly_balance of yes: {}'.format(df.avg_yearly_balance.loc[df.term_deposit == 'no'].mean(), \
                                                                             df.avg_yearly_balance.loc[df.term_deposit == 'yes'].mean()))
print('Min/Max no: {}/{}\nMin/Max yes:{}/{}'.format(df.avg_yearly_balance.loc[df.term_deposit == 'no'].min(), \
                                                    df.avg_yearly_balance.loc[df.term_deposit == 'no'].max(), \
                                                    df.avg_yearly_balance.loc[df.term_deposit == 'yes'].min(), \
                                                    df.avg_yearly_balance.loc[df.term_deposit == 'yes'].max()))
print('Total STD; {}\nNo STD: {}\nYes STD:{}'.format(df.avg_yearly_balance.std(), \
                                                     df.avg_yearly_balance.loc[df.term_deposit == 'no'].std(), \
                                                    df.avg_yearly_balance.loc[df.term_deposit == 'yes'].std()))

Avg_yearly_balance of no : 1312.7761941623787
Avg_yearly_balance of yes: 1783.4358003442342
Min/Max no: -8019/102127
Min/Max yes:-3058/81204
Total STD; 3041.6087657666208
No STD: 2983.651008144628
Yes STD:3420.1800572166817

Hard to tell what's meaningful here. Clearly being a little negative hasn't stopped someone from signing up for a term deposit. Or at least being an average of negatives. The population of customers that have subscribed for a term_deposit also have the widest standard deviation. This must mean that avg balance has less to do with subscription than one would think. However, this could just be because less customers are in this group.

In [128]:
#housing loan 

print('Total housing_loan data:\n{}\n'.format(df.housing_loan.value_counts()))
print('housing_loan with term_deposit: \n{}\n'.format(df.housing_loan.loc[df.term_deposit =='yes'].value_counts()))
print('housing_loan without term_deposit: \n{}\n'.format(df.housing_loan.loc[df.term_deposit =='no'].value_counts()))

hl_total = {}
for idx, val in df.housing_loan.value_counts().items():
    hl_total[idx] = val
hl_yes = {}
for idx, val in df.housing_loan.loc[df.term_deposit == 'yes'].value_counts().items():
    hl_yes[idx] = val
hl_no = {}
for idx, val in df.housing_loan.loc[df.term_deposit == 'no'].value_counts().items():
    hl_no[idx] = val

hl_no_perc = {}
hl_yes_perc = {}
for key in hl_total:
    hl_no_perc[key] = round(hl_no[key]/hl_total[key], 4)
    hl_yes_perc[key] = round(hl_yes[key]/hl_total[key], 4)

print("With housing_loan but did not subscribe to term_deposit: {}\n".format(hl_no_perc))

print("With housing_loan and subscribed to term_deposit: {}\n".format(hl_yes_perc))

Total housing_loan data:
yes    27689
no     22043
Name: housing_loan, dtype: int64

housing_loan with term_deposit:
no     3655
yes    2155
Name: housing_loan, dtype: int64

housing_loan without term_deposit:
yes    25534
no     18388
Name: housing_loan, dtype: int64

With housing_loan but did not subscribe to term_deposit: {'yes': 0.9222, 'no': 0.8342}

With housing_loan and subscribed to term_deposit: {'yes': 0.0778, 'no': 0.1658}

Great deal of people with housing loans did not go for the term_deposit. Let's see if this is similar with the personal_loan has well. Then we may be able to infer something about having loans, perhaps couple it with negative balances if there is a correlation.

In [130]:
#personal_loan


print('Total personal_loan data:\n{}\n'.format(df.personal_loan.value_counts()))
print('personal_loan with term_deposit: \n{}\n'.format(df.personal_loan.loc[df.term_deposit =='yes'].value_counts()))
print('personal_loan without term_deposit: \n{}\n'.format(df.personal_loan.loc[df.term_deposit =='no'].value_counts()))

pl_total = {}
for idx, val in df.personal_loan.value_counts().items():
    pl_total[idx] = val
pl_yes = {}
for idx, val in df.personal_loan.loc[df.term_deposit == 'yes'].value_counts().items():
    pl_yes[idx] = val
pl_no = {}
for idx, val in df.personal_loan.loc[df.term_deposit == 'no'].value_counts().items():
    pl_no[idx] = val

pl_no_perc = {}
pl_yes_perc = {}
for key in pl_total:
    pl_no_perc[key] = round(pl_no[key]/pl_total[key], 4)
    pl_yes_perc[key] = round(pl_yes[key]/pl_total[key], 4)

print("With personal_loan but did not subscribe to term_deposit: {}\n".format(pl_no_perc))

print("With personal_loan and subscribed to term_deposit: {}\n".format(pl_yes_perc))

Total personal_loan data:
no     41797
yes     7935
Name: personal_loan, dtype: int64

personal_loan with term_deposit:
no     5283
yes     527
Name: personal_loan, dtype: int64

personal_loan without term_deposit:
no     36514
yes     7408
Name: personal_loan, dtype: int64

With personal_loan but did not subscribe to term_deposit: {'no': 0.8736, 'yes': 0.9336}

With personal_loan and subscribed to term_deposit: {'no': 0.1264, 'yes': 0.0664}

Looks like customers with loans are much less likely to subscribe to a term deposit. The percentages are ~ 1% between housing and personal that have and also subscribe.

In [131]:
#contact_method - next time I do EDA I will define a function to make it easier and more efficient. For now this will do.

print('Total contact_method data:\n{}\n'.format(df.contact_method.value_counts()))
print('contact_method with term_deposit: \n{}\n'.format(df.contact_method.loc[df.term_deposit =='yes'].value_counts()))
print('contact_method without term_deposit: \n{}\n'.format(df.contact_method.loc[df.term_deposit =='no'].value_counts()))

cm_total = {}
for idx, val in df.contact_method.value_counts().items():
    cm_total[idx] = val
cm_yes = {}
for idx, val in df.contact_method.loc[df.term_deposit == 'yes'].value_counts().items():
    cm_yes[idx] = val
cm_no = {}
for idx, val in df.contact_method.loc[df.term_deposit == 'no'].value_counts().items():
    cm_no[idx] = val

cm_no_perc = {}
cm_yes_perc = {}
for key in cm_total:
    cm_no_perc[key] = round(cm_no[key]/cm_total[key], 4)
    cm_yes_perc[key] = round(cm_yes[key]/cm_total[key], 4)

print("By: contact_method, and did not subscribe to term_deposit: {}\n".format(cm_no_perc))

print("By: contact_method,  and subscribed to term_deposit: {}\n".format(cm_yes_perc))

Total contact_method data:
cellular     32181
unknown      14344
telephone     3207
Name: contact_method, dtype: int64

contact_method with term_deposit:
cellular     4785
unknown       591
telephone     434
Name: contact_method, dtype: int64

contact_method without term_deposit:
cellular     27396
unknown      13753
telephone     2773
Name: contact_method, dtype: int64

By: contact_method, and did not subscribe to term_deposit: {'cellular': 0.8513, 'unknown': 0.9588, 'telephone': 0.8647}

By: contact_method,  and subscribed to term_deposit: {'cellular': 0.1487, 'unknown': 0.0412, 'telephone': 0.1353}

Looks like telephone or cellular are very close in effectiveness. With unknown making up a small, but important portion of the remaining successes.

In [135]:
#thinking about how to tackle day and month. Let's do month first. I feel like if there is a strong impression in time of year
#then we have something to go off of.

print('Total month data:\n{}\n'.format(df.month.value_counts()))
print('month where = term_deposit: \n{}\n'.format(df.month.loc[df.term_deposit =='yes'].value_counts()))
print('month where = without term_deposit: \n{}\n'.format(df.month.loc[df.term_deposit =='no'].value_counts()))

month_total = {}
for idx, val in df.month.value_counts().items():
    month_total[idx] = val
month_yes = {}
for idx, val in df.month.loc[df.term_deposit == 'yes'].value_counts().items():
    month_yes[idx] = val
month_no = {}
for idx, val in df.month.loc[df.term_deposit == 'no'].value_counts().items():
    month_no[idx] = val

month_no_perc = {}
month_yes_perc = {}
for key in month_total:
    month_no_perc[key] = round(month_no[key]/month_total[key], 4)
    month_yes_perc[key] = round(month_yes[key]/month_total[key], 4)

print("By: month, and did not subscribe to term_deposit: {}\n".format(month_no_perc))

print("By: month,  and subscribed to term_deposit: {}\n".format(month_yes_perc))

Total month data:
5     15164
7      7601
8      6880
6      5872
11     4359
4      3225
2      2871
1      1551
10      818
9       631
3       526
12      234
Name: month, dtype: int64

month where = term_deposit:
5     1018
8      767
7      688
4      633
6      601
2      479
11     442
10     360
9      286
3      269
1      158
12     109
Name: month, dtype: int64

month where = without term_deposit:
5     14146
7      6913
8      6113
6      5271
11     3917
4      2592
2      2392
1      1393
10      458
9       345
3       257
12      125
Name: month, dtype: int64

By: month, and did not subscribe to term_deposit: {5: 0.9329, 7: 0.9095, 8: 0.8885, 6: 0.8976, 11: 0.8986, 4: 0.8037, 2: 0.8332, 1: 0.8981, 10: 0.5599, 9: 0.5468, 3: 0.4886, 12: 0.5342}

By: month,  and subscribed to term_deposit: {5: 0.0671, 7: 0.0905, 8: 0.1115, 6: 0.1024, 11: 0.1014, 4: 0.1963, 2: 0.1668, 1: 0.1019, 10: 0.4401, 9: 0.4532, 3: 0.5114, 12: 0.4658}

Theres definitely some observations to unpack here. September, October, December, and March have insanely ratios. Although May had the most conversions, they also missed the most. I may have to unpack the prev_contact data to make this data clearer. I have no absolutely direction, so let's go ahead and unpack days. 

Days are days of the month, but not by the weekday. Although if we can figure out which 7 interval is being skipped the most we can determine which day is Sunday(I'm making an assumption that the bank is not making calls on Sunday). If this is true we can use that data to line this up with which year(s) this data is from and figure out which weekdays are best in addition to portion of the month(if that is even a variable). I thoroughly expect this data to be most effective on something like mondays when people have just had the weekend to relax and are open to making decisions. From my experience making phone calls, mondays are the days that you are most likely to catch someone and fridays the worst.

In [136]:
#Day

print('Total day data:\n{}\n'.format(df.day.value_counts()))
print('day where = term_deposit: \n{}\n'.format(df.day.loc[df.term_deposit =='yes'].value_counts()))
print('day where = without term_deposit: \n{}\n'.format(df.day.loc[df.term_deposit =='no'].value_counts()))

day_total = {}
for idx, val in df.day.value_counts().items():
    day_total[idx] = val
day_yes = {}
for idx, val in df.day.loc[df.term_deposit == 'yes'].value_counts().items():
    day_yes[idx] = val
day_no = {}
for idx, val in df.day.loc[df.term_deposit == 'no'].value_counts().items():
    day_no[idx] = val

day_no_perc = {}
day_yes_perc = {}
for key in day_total:
    day_no_perc[key] = round(day_no[key]/day_total[key], 4)
    day_yes_perc[key] = round(day_yes[key]/day_total[key], 4)

print("By: day, and did not subscribe to term_deposit: {}\n".format(day_no_perc))

print("By: day,  and subscribed to term_deposit: {}\n".format(day_yes_perc))

Total day data:
20    3009
18    2534
21    2224
17    2130
6     2119
5     2091
14    2043
8     2022
28    2011
7     2007
19    1958
29    1920
15    1877
12    1754
13    1751
30    1734
9     1724
11    1631
4     1584
16    1579
2     1407
27    1234
3     1184
26    1145
23    1041
22     991
25     920
31     702
10     574
24     483
1      349
Name: day, dtype: int64

day where = term_deposit:
30    298
12    272
13    263
18    263
15    261
4     244
5     243
14    229
21    224
16    216
8     215
20    207
11    201
2     196
6     195
9     195
17    192
3     190
7     170
22    170
27    166
28    160
25    143
29    139
19    138
23    137
10    135
26    128
1     100
24     70
31     50
Name: day, dtype: int64

day where = without term_deposit:
20    2802
18    2271
21    2000
17    1938
6     1924
28    1851
5     1848
7     1837
19    1820
14    1814
8     1807
29    1781
15    1616
9     1529
13    1488
12    1482
30    1436
11    1430
16    1363
4     1340
2     1211
27    1068
26    1017
3      994
23     904
22     821
25     777
31     652
10     439
24     413
1      249
Name: day, dtype: int64

By: day, and did not subscribe to term_deposit: {20: 0.9312, 18: 0.8962, 21: 0.8993, 17: 0.9099, 6: 0.908, 5: 0.8838, 14: 0.8879, 8: 0.8937, 28: 0.9204, 7: 0.9153, 19: 0.9295, 29: 0.9276, 15: 0.8609, 12: 0.8449, 13: 0.8498, 30: 0.8281, 9: 0.8869, 11: 0.8768, 4: 0.846, 16: 0.8632, 2: 0.8607, 27: 0.8655, 3: 0.8395, 26: 0.8882, 23: 0.8684, 22: 0.8285, 25: 0.8446, 31: 0.9288, 10: 0.7648, 24: 0.8551, 1: 0.7135}

By: day,  and subscribed to term_deposit: {20: 0.0688, 18: 0.1038, 21: 0.1007, 17: 0.0901, 6: 0.092, 5: 0.1162, 14: 0.1121, 8: 0.1063, 28: 0.0796, 7: 0.0847, 19: 0.0705, 29: 0.0724, 15: 0.1391, 12: 0.1551, 13: 0.1502, 30: 0.1719, 9: 0.1131, 11: 0.1232, 4: 0.154, 16: 0.1368, 2: 0.1393, 27: 0.1345, 3: 0.1605, 26: 0.1118, 23: 0.1316, 22: 0.1715, 25: 0.1554, 31: 0.0712, 10: 0.2352, 24: 0.1449, 1: 0.2865}